/* title of App */
.navbar-brand {
    font-weight: 400px;
    font-size: 35px;
    color: white;
}

.container {
    margin-bottom: 10px;
}

.form-control {
    color: rgb(29, 24, 21);
    font-size: 15px;
    font-weight: 35px;
}