/* title of App */
.navbar-brand {
    color: #170e0e;
    font-weight: 400px;
    font-size: 35px;
}

.container {
    color: rgb(12, 41, 18);
    margin-bottom: 10px;
}

.form-control {
    color: rgb(29, 24, 21);
    font-size: 15px;
    font-weight: 35px;
}